* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.header {
  height: 100vh;
  background-image: url("../icons/zyro-image\ \(1\).png");
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 0 2rem;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #0e272a;
  font-size: 1rem;
}

a:hover {
  color: #b2d4a9;
}
.logo {
  color: red;
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle__btn {
  color: #0e272a;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
.action__btn__language {
  background-color: #618e76;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.action__btn__language:hover {
  scale: 1.05;
  color: #fff;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}

.action__btn__language:active {
  scale: 0.95;
}

.dropdown__menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: #e6f1db;
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.dropdown__menu.open {
  height: 240px;
}
.dropdown__menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown__menu .action__btn__language {
  width: 100%;
  display: flex;
  justify-content: center;
}


@media (max-width: 992px) {
  .navbar .links,
  .navbar .action__btn__language {
    display: none;
  }
  .navbar .toggle__btn {
    display: block;
  }

  .dropdown__menu {
    display: block;
  }
}
@media (max-width: 576px) {
  .dropdown__menu {
    left: 2rem;
    width: unset;
  }
}
@media (max-width: 768px) {
  .tabcontent__descr {
    font-size: 3vw;
    line-height: 5vw;
  }
}

@media (max-width: 480px) {
  .tabcontent__descr {
    font-size: 2.5vw;
    line-height: 4.5vw;
  }
}
